<li class="list-group-item margenInferior marginLeft">
    <div class="media"> 
        <div class="media-left"> 
            <img class="media-left media-middle img-fluid" src={{'/public/'~vivienda.imagenes[0]}} alt="Imagen inmueble" width="200px"> 
        </div>
        <div class="media-body"> 
            <p class="card-title">Precio: $ {{vivienda.precio}}</p>
            <p class="card-title">{{vivienda.operacion}} - {{vivienda.tipoVivienda}}</p>
            {% set cantEstrellas = vivienda.calificacion %} 
            {% include 'rating.twig' %} 
            {% if vivienda.tipoVivienda == "Departamento" %}
                {%set direccion = vivienda.direccion + " - " + vivienda.piso + vivienda.numeroDepto %}
            {% else %}
                {%set direccion = vivienda.direccion %}
            {% endif %}
            <p class="card-text">Direccion: {{direccion}}</p>
            <a class="btn btnOscuro" href={{'/viviendas/'~vivienda._id}}> Ver más</a>
        </div>
    </div>
</li> 

