<li class="list-group-item margenInferior marginLeft" id={{vivienda._id}}>
    <div class="media"> 
        <div class="media-left"> 
            <img class="media-left media-middle img-fluid" src={{'/public/'~vivienda.imagenes[0]}} alt="Imagen inmueble" width="200px"> 
        </div>
        <div class="media-body"> 
            <p class="card-title">Precio: $ {{vivienda.precio}}</p>
            <p class="card-title">{{vivienda.operacion}} - {{vivienda.tipoVivienda}}</p>
            {% set cantEstrellas = vivienda.calificacion %} 
            {% include 'rating.twig' %} 
            {% if vivienda.tipoVivienda == "Departamento" %}
                <p class="card-text"> {{ vivienda.direccion ~ ' | Piso:' ~ vivienda.piso ~ ', Número: ' ~ vivienda.numeroDepto}} </p>
            {% else %}
                <p class="card-text"> {{vivienda.direccion}} </p> 
            {% endif %}
            <a class="btn btnOscuro" href={{'/viviendas/'~vivienda._id}}> Ver más</a>
        </div>
    </div>
</li> 

